<div class="comment text-center" data-commentid={{id}}>
  <h4 class="text-white">{{user.username}}</h4>
  <p class="comment-text text-white">{{text}}</p>

  {{#if isOwner.valid}}
    <!-- Edit Comment Button trigger modal -->
    <button
      type="button"
      class="btn commentBtn"
      id="editComment"
      data-bs-toggle="modal"
      data-bs-target="#editCommentModal"

      {{!-- ID of current comment passed into the edit button --}}
      data-id={{id}}
    >
      Edit Comment
    </button>
  {{/if}}

  {{#if isOwner.valid}}
    <!-- Delete Comment Button trigger modal -->

    <button
      type="button"
      class="btn commentBtn"
      id="deleteComment"

      {{!-- ID of current comment passed into the delete button --}}
      data-id={{id}}
    >
      Delete Comment
    </button>
  {{/if}}

</div>

