<div class="card-box d-flex justify-content-center">
  {{!-- Data for each post card --}}
  <a href="/posts/{{id}}">
    <div class="pic-title">{{title}}</div>
    <img class="card-image" src="..{{picture}}" alt="pic" />
    <div class="pic-desc">{{description}}</div>
    <div class="d-flex justify-content-between">

      <div class="pic-username">{{user.username}}</div>
      <div>{{format_date updatedAt}}</div>
    </div>
  </a>

</div>