<div class="card-box">

    <a href="/posts/{{id}}">
      <div class="pic-title">{{title}}</div>
      <div class="pic-username">{{user.username}}</div>
      <img class="card-image" src=".{{picture}}" alt="pic">
      <div class="pic-desc">{{description}}</div>
    </a>

  </div>