<div>
    <form class="formPic">

        <div class="text-white post-container flex-column d-flex ">
            <div class="align-items-center">
                <div>Create New Post</div>
                <div>Title:</div>
                <input class="post-title" type="text" name="title">

             
                <label class="pictureInput" for="picture">
                    <input type="file" name="picture" class="upload"/>
                </label>

                <label for="description">Description</label>
                <input class="description-box" type="text" name="description">
                <label for="tags">Tags</label>
                <select class="tags" name="tags">
                    <option value="none" name="none">name</option>
                </select> 
                <button class="post-btn" type="submit">+</button>
            </div>
        </div>
    </form>
  </div>
<div class="container d-flex flex-wrap">
    <select class="tags" name="tags">
                    <option value="none" name="none">name</option>
                </select>
{{#each post}}
<div class="card-box">
    
    <a href="/posts/{{id}}"><div class="pic-title">{{title}}</div>
    <div class="pic-username">{{user.username}}</div>
    <img class="card-image" src={{picture}} alt="pic">
    <div class="pic-desc">{{description}}</div>
    </a>

  </div>
{{/each}}

</div>
<script src="js/post.js"></script>
</div>