<div class="navigation d-flex text-white justify-content-between align-items-center mx-5 my-5 flex-wrap">
<div class="singlePostNav d-flex justify-content-between">
    <div class="home-container">

<a type="button" href='/' value="Home" class="text-white fs-2 profile"><p>Home</p></a>
    </div>
<div class="profile-container">

 <a href="/user/{{userId}}" class="text-white fs-2 profile"><p>My Profile</p></a>
  </div>
</div>
<div class="logout-container">

  <a class="text-decoration-none text-white fs-2 " href="#" id="logout"><p>Logout</p></a>
  </div>


</div>

<div class="d-flex flex-column align-items-center justify-content-center post w-100" data-postId="{{post.id}}">
    <div class="text-white d-flex flex-column  justify-content-center">
        <h2 class="display-3 text-center single-post-title">{{post.title}}</h2>
        <div class="fs-3 text-center pb-3"><a href="/user/{{post.user.id}}" class="username">{{post.user.username}}</a></div>

        <div class="card-container d-flex justify-content-center">
            <div class="card-box-single d-flex justify-content-center">
                <img class="card-image-single" src="..{{post.picture}}" alt="pic">
                
            </div>
        </div>
    </div>

    <div class="pb-3 fs-4 text-white single-post-text text-center">{{post.description}}</div>

    <div class="post-buttons">
        <!-- COMMENT Button trigger modal -->
        <button type="button" class="single-post-button btn" data-bs-toggle="modal" data-bs-target="#commentModal">
            Add New Comment
        </button>

        {{>newCommentModal}}

{{#if isOwner.valid}}
        <!-- EDIT Button trigger modal -->
        <button type="button" class=" single-post-button btn" data-bs-toggle="modal" data-bs-target="#editModal">
            Edit Post
        </button>
{{/if}}
        

{{>editPostModal}}

{{#if isOwner.valid}}
        <!-- DELETE Button trigger modal -->
        <button type="button" class=" single-post-button btn" data-bs-toggle="modal" data-bs-target="#deleteModal" >
            Delete Post
        </button>
{{/if}}
        
</div>
    {{>deletePostModal}}

        {{#if post.comments}}
        <div id="comment-box" class="comment-box-single">
            {{#each post.comments as |comment|}}
            {{>comments}}
            {{/each}}
        </div>
        {{/if}}
            {{>editCommentModal}}
            {{>deleteCommentModal}}
            



    
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

<script src="/js/singlePost.js"></script>